body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  margin: 0;
  padding: 20px;
}

header {
  background-color: rgb(49, 49, 49);
  width: auto;
  padding: 20px;
  color: #ffffff;
  border: none;
  border-radius: 15px 15px 0px 0px;
}
section.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style-type: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

h1, h2 {
  text-align: center;
}

.feedback-box {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  resize: none;
  border-radius: 8px;
}

#feedbackList {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

#feedbackList li {
  background: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
