* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    background-color: #f0f0f0;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

textarea {
    resize: none;
    width: 100%;
    height: 80px;
}

#container {
    max-width: 600px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #ccc;
    font-size: 1.1rem;
    cursor: pointer;
}
a.BntR {
    color: #ccc;
    text-decoration: none;
}